<h1> New Recipe Ingredient </h1>

<%= form_for(@recipe_ingredient) do |t| %>


<%= t.hidden_field :recipe_id, :value => params[:recipe_id] %><br>
<%= t.collection_select :ingredient_id, Ingredient.order(:name), :id, :name, include_blank: false%><br>
<%= t.number_field :quantity, placeholder: 'Quantity' %>

<%= t.submit "Create Recipe-Ingredient" %>
<% end %>
