<h1>Sign in</h1>
<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag "user[email]" %>
  <%= label_tag :password %>
  <%= text_field_tag "user[password]" %>
  <%= submit_tag "Sign In" %>
<% end %>
