<h1>Sign in</h1>
<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag "user[email]", nil, required: true, class: 'validate' %>
  <%= label_tag :password %>
  <%= password_field_tag "user[password]", nil, required: true, class: 'validate' %>
  <%= submit_tag "Sign In" %>
<% end %>
