<h1><%= @recipe.name %></h1>
<h3>made by <%= @author.name %></h3>

<p>prep time: <%= @recipe.prep_time %> minutes</p><br>
<p>cook time: <%= @recipe.cook_time %> minutes</p><br>
<p><strong>Total Time: <%= "#{@recipe.prep_time + @recipe.cook_time}" %></strong></p><br>

<p>
  <strong>Instructions: </strong>
  <%= @recipe.instructions %>
</p>

<% if @recipe.ingredients.count > 0 %>
  <ul>
    <% @recipe.recipe_ingredients.each do |i| %>
      <li><%= i.quantity %> - <%= i.ingredient.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Add Recipe-Ingredient', new_recipe_ingredient_path(:recipe_id => @recipe.id) %>
