<h5>USER PROFILE</h5>

<div>
  <% if @user.image? %>

  <%= image_tag @user.image.url(:medium) %>
  <% else %>

  <div class="boxed">

    <img src= "https://lh3.googleusercontent.com/H9yAIsZYqbIOh_E1ON90chVhO6SYSD6ucV-XirZXkMFDqLRjGoztobaxx1XS9CB4lfg=w300" alt="Photograph of a chocolate cupcake." style="width:180px;height:180px;">

  </div>

<% end %>
</div>


<h1> <%= @user.first_name %></h1>
  <% if @user == current_user  %>
    <p>
      <%= link_to "Edit Profile", edit_user_path, class:'btn' %> <%= link_to "Add New Recipe", new_recipe_path, class:'btn' %>
    </p>
  <% end %>

<h3> Account Details </h3>
  <ul>
    <li>
      Email: <%= @user.email %>
    </li>
    <li>
      Location: <%= @user.location %>
    </li>
  </ul>

<div>
  <h3> Authored Recipes </h3>
  <% if @user.recipes.count > 0%>
    <ul>
      <% @user.recipes.each do |r|%>
      <li>
        <%= link_to r.name, recipe_path(r)%>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= @user.first_name%> has not yet  authored any recipes
    </p>
  <% end %>
</div>



<div>
  <h3> Saved Recipes </h3>
  <% if @user.saved_recipes.count > 0%>
    <ul>
      <% @user.saved_recipes.each do |r|%>
      <li>
        <%= link_to r.name, recipe_path(r)%>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= @user.first_name%> has not yet saved any recipes
    </p>
  <% end %>
</div>
