<h1> New Ingredient </h1>

<%= form_for(@ingredient) do |t| %>
<%= t.text_field :name, placeholder: "Name" %><br>
<%= t.text_field :category, placeholder: "Category" %><br>
<%= t.text_field :food_group, placeholder: "Food Group" %><br>

<%= t.submit "Create Ingredient" %>
<% end %>
