<h2>Welcome to FaceCook!</h2>
<p>
  <%= Time.now.strftime("%B %d, %Y") %>
</p>

<div class="container">
  <br>
  <div class="row">
    <p><strong>Featured Recipes of This Week</strong></p>
    <% Recipe.featured.each do |recipe| %>
    <div class="col s3">
      <%= image_tag recipe.image.url(:thumb) %>
      <br>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <% end %>
    <br><br>

    <p><strong>Top Users</strong></p>
    <% Recipe.top_users.each do |user| %>
      <div class="col s3">
        <%= image_tag user.image.url(:thumb) %>
        <br>
        <%= link_to user.first_name, user_path(user) %>
      </div>
    <% end %>
  </div>
  <br>

  <div class="row">
    <p><strong>Top Recipes of All Time</strong></p>
    <% Recipe.top_recipes.each do |recipe| %>
      <div class="col s3">
        <%= image_tag recipe.image.url(:thumb) %>
        <br>
        <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    <% end %>

    <p><strong>Fastest Food</strong></p>
    <% Recipe.fast_food.each do |recipe| %>
      <div class="col s3">
        <%= image_tag recipe.image.url(:thumb) %>
        <br>
        <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <p><strong>Best Vegan Recipes</strong></p>
    <% Recipe.top_vegan.each do |recipe| %>
      <div class="col s3">
        <%= image_tag recipe.image.url(:thumb) %>
        <br>
        <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    <% end %>
    <br><br>
  </div>

  <div class="row">
    <p><strong>Best Low Carb Recipes</strong></p>
    <% Recipe.top_low_carb.each do |recipe| %>
    <div class="col s3">
      <%= image_tag recipe.image.url(:thumb) %>
      <br>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <% end %>
  </div>
  <br>

 <div class="row">
   <p><strong>Best Kosher Recipes</strong></p>
   <% Recipe.top_kosher.each do |recipe| %>
     <div class="col s3">
       <%= image_tag recipe.image.url(:thumb) %>
       <br>
       <%= link_to recipe.name, recipe_path(recipe) %>
     </div>
   <% end %>
 </div>

 <div class="row">
   <p><strong>Best Halaal Recipes</strong></p>
   <% Recipe.top_halal.each do |recipe| %>
     <div class="col s3">
       <%= image_tag recipe.image.url(:thumb) %>
       <br>
       <%= link_to recipe.name, recipe_path(recipe) %>
     </div>
   <% end %>
 </div>
</div>
